@{
    ViewData["Title"] = "Хакатон. Что это?";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Хакатон (англ. hackathon, от hack (см. хакер) и marathon — марафон) — форум разработчиков, во время которого специалисты из разных областей разработки программного обеспечения (программисты, дизайнеры, менеджеры) сообща работают над решением какой-либо проблемы. Сегодня хакатоны уже не относятся к хакерству, это просто марафоны программирования. Обычно хакатоны длятся от одного дня до недели.</p>

<p>Некоторые хакатоны предназначены для образовательных или социальных целей, но чаще задачей хакатона является создание полноценного программного обеспечения. Каждый хакатон сфокусирован на определённой области, например, языке программирования, операционной системе, приложении, программном интерфейсе (API).</p>

<h2>История </h2>

<p>Термин появился в 1999 году. Его независимо друг от друга начали употреблять разработчики OpenBSD и Sun Microsystems. Разработчики OpenBSD впервые использовали этот термин для обозначения встречи, посвящённой криптографии в Калгари (Канада) 4 июня 1999 года. На неё приехали 10 разработчиков для написания программ, которые бы не подпадали под жёсткие экспортные ограничения, установленные США на криптографическое ПО.</p>
<p>Sun использовала название «the Hackathon» во время конференции JavaOne, проходившей с 15 по 19 июня 1999 года; John Gage предложил написать программу на языке программирования Java для нового Palm V, которая бы использовала ИК порт для связи с другими пользователями Palm.</p>

<p>Начиная с середины 2000-х годов хакатоны стали более распространёнными и рассматривались компаниями и инвесторами как способ быстрой разработки новых программных технологий или областей инвестирования. Некоторые известные компании были созданы на хакатонах, например GroupMe, появившаяся на хакатоне конференции TechCrunch Disrupt 2010; в 2011 она была куплена компанией Skype за 85 млн долларов.</p>

<p>Основные цели хакатонов:</p>

<li>Заинтересовать как можно больше людей в разработке собственных решений.</li>
<li>Предоставить возможность начинающим разработчикам и экспертам пообщаться друг с другом.</li>
<li>Популяризация разработки.</li>
<li>Поиск разработчиков в команду.</li>